
body {
    padding: 0;
    margin: 0;
    background-color: #343a40;
}

.container-list {
    padding: 5rem 2.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1.5rem;
    height: 100vh;
    margin-bottom: 5rem;
}

.text-capitalize {
    text-transform: capitalize;
}

.flex-display {
    display: flex;
}

.navbar-fixed {
    position: fixed;
    width: 100%;
    z-index: 10;
}

