
.card {
  padding: 15px;
  width: 200px;
  height: 350px;
  border: 1px solid rgba(0,0,0, .30);
  border-radius: 4px;
}

.info-character {
  padding-top: 10px;

}

.data {
  display: flex;
  flex-wrap: wrap;
}

.data span {
  width: 45%;
  color: rgba(0,0,0, .6);
}

.data p {
  color: rgba(0,0,0, .87);
  margin: 0;
}
