
.main-login {
    width: 100%;
    height: 100vh;
    background-image: url("https://i.pinimg.com/originals/ac/ff/d0/acffd07bd40d9a30732d3f0e7488dd6b.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(2px);
}

.container-card {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    border-radius: 5px;
    background: white;
    height: 60%;
    width: 60%;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    filter: blur(0);
    display: flex;
    flex-direction: column;
    padding: 0;
    max-width: 550px;
}

.card-title {
    height: 80px;
    background: green;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    color: white;
    padding: .5rem 1.5rem;
}

.img-text {
    height: 60px;
}

.card-container {
    padding: 1.5rem 4rem;
    color: rgba(0,0,0,.87);
}

.inputs {
    padding: 0 25px;
}

.nav-tabs .nav-link {
    width: 40%;
}

.container-login {
    padding: 15px;
}

.form-register {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;

}
